.about-container {
    margin: 2.5rem 1rem 0;
    text-align: center;
    height: 28.5rem;
    color: $lightgray;
    .about-header-container {
        font-size: 3rem;
    }
    .about-content-container {
        display: flex;
        justify-content: center;
        margin: 2rem 0 0;
        flex: 0 0 auto;
        #about-content {
            color: $lightgray;
            font-size: 1.75rem;
            width: 50rem;
            height: 20rem;
            transition: 0.5s;
        }
        .left-arrow-container, .right-arrow-container {
            margin: 7rem 0;
            & > button {
                background: none;
                border: none;
                padding: 1rem;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .left-arrow-container {
            margin-right: 1rem;
        }
        .right-arrow-container {
            margin-left: 1rem;
        }
    }
}