.socials-container {
    display: flex;
    justify-content: center;
    ul {
        li {
            display: inline;
        }
    }
    .fab {
        color: $lightgray;
        transition: 0.5s;
        &:hover {
            color: $darkgray-background;
        }
    }
}