@media all and (max-width: 370px) {
    .hero-container {
        height: 28rem;
        .hero-image-container {
            #my-picture {
                height: 15rem;
            }
        }
        .hero-text-container {
            .my-name {
                font-size: 2.5rem;
            }
            .my-section {
                font-size: 1.5rem;
            }
        }
    }
}

@media all and (min-width: 1024px) {
    body {
        flex-direction: row;
    }
    .hero-container {
        width: 40rem;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    main {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .about-container {
            position: relative;
            top: 5rem;
            .about-content-container {
                #about-content {
                    margin-top: 1rem;
                    margin-left: 2rem;
                    margin-right: 2rem;
                    font-size: 2rem;
                }
                .left-arrow-container, .right-arrow-container {
                    margin-top: 2rem;
                    & > button {

                    }
                }
            }
        }
    }
}

@media all and (min-width: 1440px) {
    body, html {
        font-size: 80%;
    }
}

@media all and (min-width: 2550px) {
    body, html {
        font-size: 120%;
    }
}