* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-size: 62.5%;
  height: 100%;
}

button {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

* {
  font-family: "Open Sans", sans-serif;
}

.about-container {
  margin: 2.5rem 1rem 0;
  text-align: center;
  height: 28.5rem;
  color: #B6B6B6FF;
}

.about-container .about-header-container {
  font-size: 3rem;
}

.about-container .about-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.about-container .about-content-container #about-content {
  color: #B6B6B6FF;
  font-size: 1.75rem;
  width: 50rem;
  height: 20rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.about-container .about-content-container .left-arrow-container, .about-container .about-content-container .right-arrow-container {
  margin: 7rem 0;
}

.about-container .about-content-container .left-arrow-container > button, .about-container .about-content-container .right-arrow-container > button {
  background: none;
  border: none;
  padding: 1rem;
}

.about-container .about-content-container .left-arrow-container > button:hover, .about-container .about-content-container .right-arrow-container > button:hover {
  cursor: pointer;
}

.about-container .about-content-container .left-arrow-container {
  margin-right: 1rem;
}

.about-container .about-content-container .right-arrow-container {
  margin-left: 1rem;
}

.hero-container {
  background-color: #2F2B2BFF;
  height: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-container .hero-image-container {
  margin: 2.5rem auto 1rem;
}

.hero-container .hero-image-container #my-picture {
  border-radius: 10rem;
  border: 0.75rem solid #B6B6B6FF;
  height: 20rem;
  width: 20rem;
  -webkit-transition: 1s;
  transition: 1s;
  background: url("../../images/me-irl.jpg");
  background-size: cover;
}

.hero-container .hero-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.hero-container .hero-text-container .my-name {
  font-size: 4rem;
  color: #B6B6B6FF;
}

.hero-container .hero-text-container .my-section {
  font-size: 2rem;
  color: #595959FF;
  font-weight: 700;
}

.socials-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials-container ul li {
  display: inline;
}

.socials-container .fab {
  color: #B6B6B6FF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.socials-container .fab:hover {
  color: #2F2B2BFF;
}

main {
  margin: auto 0;
}

body {
  background-color: #E7E7E7FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 3rem;
}

@media all and (max-width: 370px) {
  .hero-container {
    height: 28rem;
  }
  .hero-container .hero-image-container #my-picture {
    height: 15rem;
    width: 15rem;
  }
  .hero-container .hero-text-container .my-name {
    font-size: 2.5rem;
  }
  .hero-container .hero-text-container .my-section {
    font-size: 1.5rem;
  }
  .about-container .about-content-container #about-content {
    font-size: 1.5rem;
  }
}

@media all and (min-width: 1024px) and (min-height: 720px) and (orientation: landscape) {
  body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hero-container {
    width: 37.5rem;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero-container .hero-image-container {
    margin-top: -5rem;
  }
  main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .about-container {
    position: relative;
    top: 4rem;
  }
  main .about-container .about-content-container {
    margin-top: 0;
  }
  main .about-container .about-content-container #about-content {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 2rem;
  }
  main .about-container .about-content-container .left-arrow-container, main .about-container .about-content-container .right-arrow-container {
    margin-top: 2rem;
  }
  footer {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 1.5rem;
    margin-bottom: 0.5rem;
  }
}

@media all and (min-width: 1440px) and (orientation: landscape) {
  body, html {
    font-size: 80%;
  }
}

@media all and (min-width: 1920px) and (orientation: landscape) {
  body, html {
    font-size: 100%;
  }
}

@media all and (min-width: 2550px) and (orientation: landscape) {
  body, html {
    font-size: 140%;
  }
}

@media all and (min-width: 3840px) and (orientation: landscape) {
  body, html {
    font-size: 200%;
  }
}

@media all and (min-height: 720px) and (min-width: 540px) and (orientation: portrait) {
  .about-container .about-content-container #about-content {
    font-size: 2rem;
    margin: auto 3rem;
  }
}

@media all and (max-height: 1024px) and (min-width: 768px) and (orientation: portrait) {
  body, html {
    font-size: 80%;
  }
}

@media all and (max-height: 1366px) and (min-width: 1024px) and (orientation: portrait) {
  body, html {
    font-size: 100%;
  }
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */